
<div class="card" style="margin-top:20px; padding:30px 0;">
    <div class="content has-text-centered">
      <p>
        Powered by <a href="https://hexo.io/"><strong><span class="has-text-info">Hexo</span></strong></a> and <strong>Goyangin Theme</strong> by <a href="http://g3xdev.com"><span class="has-text-info"><b>g3xx</b> </span></a>. <br>The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php"><span class="has-text-info">MIT </span></a><br>
         <a href="https://github.com/"><span class="has-text-info"><span class="icon is-medium"><i class="fa fa-github"></i></span></a>
        </p>
      </p>
    </div>
</div>